@tailwind base;
@tailwind components;
@tailwind utilities;


.drawer{
    display: flex;
    height: calc(100vh - 65px);
    width: 100vw;
}
.outlet{
    padding: 20px;
    overflow: auto;
    max-width: calc(100vw - 230px);
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out;
}
.sidebar{
    width: 250px;
    box-shadow: 1px 2px 2px gray;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.activeMenu{
    width: 50px;
    box-shadow: 1px 2px 2px gray;
    transition: all 0.5s ease-out;

    .MuiTypography-root:where(.css-cfq8qh-MuiListItemText-root .MuiListItemText-primary) {
        display: none !important;
        transition: all 0.5s ease-out;
    }
}
.outletActive{
    max-width: calc(100vw - 50px);
    width: 100%;
    padding: 10px;
    overflow: hidden;
    transition: all 0.5s ease-out;
    overflow: auto;
    
    table {
        width: 100% !important;
    }
    .fc .fc-daygrid-body{
        width: 100% !important;
    }
}

li{
    padding: 15px !important;
}
.icon{
    margin-right: 10px !important;
}
h3{
    padding:10px;
    font-size: 1.25rem;
    font-weight: 500;
}
.css-70zvr5-MuiTableContainer-root{
    height: calc(100vh - 240px) !important;
    overflow: auto !important;
}
.tableContainer{
    width: 100% !important;
    overflow-x: auto !important;
}
.header{
    text-wrap: nowrap;
}
.btn{
    margin-right: 10px !important;
    width: 100px;
}
.logoutContainer{
    position: relative;
    height: calc(100vh - 110px);
    width: calc(100vw - 300px);
}
.logoutForm{
    width: 440px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 2px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
}
.logoutText{
    text-align: center;
    font-size: 28px;
    padding: 20px;
}
.group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
button{
    margin-right: 10px !important;
}
.profileContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.profileImageContainer{
    width: 25%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 1px 2px 3px gray;
    padding: 10px;
}
.profileFormContainer{
    height: 100% !important;
    width: 70%;
    border-radius: 10px;
    box-shadow: 1px 2px 3px gray;
    padding: 30px;
}
.imageContainer{
    width: 180px;
    height: 180px;
    background-color: gray;
    border-radius: 20px;
    margin: 0 auto;
}
.locationContainer{
    display: flex;
}
.textContainer{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0px;
}
p{
    font-weight: 400;
}
.badgeContainer{
    width: 100%;
    height: 50px;
    box-shadow: 1px 2px 3px gray;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}
.badge{
    display: flex;
    align-items: center;
    justify-content: center;
}
h4{
    margin-right: 10px;
}
.logoutContainer1{
    width: 100%;
    height: 40px;
    padding: 10px;
    border-bottom: 1px solid gray;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}
h2{
    font-weight: 600;
}
.profile{
    font-size: 18px;
    font-weight: 500;
}
.information{
    font-size: 18px;
    font-weight: 500;
    color: gray;
    padding: 0px;
    padding-top: 10px;
}
.informationContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.formField{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    position: relative;
}
label{
    margin-bottom: 10px;
    font-weight: 500;
    letter-spacing: 1px;
}
.btnGroup1{
    margin: 20px 0px;
}
.save{
    width: 150px;
}
.eyeIcon{
    position: absolute;
    top: 55%;
    right: 5%;
    cursor: pointer;
}
.userCreate{
    text-align: center;
    font-size: 28px;
    letter-spacing: 2px;
    padding: 10px;
    color: rgb(94, 94, 249);
 }
.star{
    color: red;
 }
.btnGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
 }
 .schedule{
    min-width: calc(100vw - 300px);
    width: 100%;
    height: 85vh;
    overflow: auto;
    padding-bottom: 20px;
 }
 .gridClass{
    margin-top: 20px;
    overflow: auto;
    padding: 10px;
 }
 .cardBody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
 }
 .cardHeader{
    text-align: center;
    font-size: 28px !important;
    font-weight: 500 !important;
 }
 .cardDate{
    font-weight: bold !important;
    text-wrap: wrap;
    font-size: 14px;
    padding: 5px;
 }
 .cardDate1{
    font-weight: 500 !important;
    text-align: end;
    padding: 5px;
 }

 .activeMenuName{
    display: none;
 }

 .menu{
    display: block;
 }
 .modal{
    width: 900px;
 }
 .activeModal{
    width: 350px;
    height: 520px;
    overflow: auto;
 }
 tr{
    text-wrap: nowrap;
}
.css-1e9ya6q-MuiTableCell-root {
    padding: 10px !important;
}
.loginContainer{
    position: relative;
}
.login{
    max-width: 440px;
    width: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,30%);
    padding:20px;
    border-radius: 10px;
    box-shadow: 1px 2px 3px black;
}
/* .loginTextContainer{
    width: 100%;
    background-color: blue;
    border-radius: 5px;
} */
.loginText{
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: blue;
    letter-spacing: 2px;
    user-select: none;
}
.loginBtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.loginBtn{
    width: 80%;
    background-color: blue !important;
    color: white !important;
}
.third{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.line{
    width: 15px;
    height: 2px;
    background-color: black;
    margin:0px  5px;
}
.iconBoxContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 40px;
    margin-top: 10px;
}
.iconBox{
    height: 100%;
    width: 100%;
    box-shadow: 1px 2px 3px black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}
.iconText{
    margin-left: 10px;
    font-weight: bold;
}
.inputTime{
    border: 1px solid gray;
    padding: 13px;
    border-radius: 5px;
}
.register{
    text-align: center;
    margin-top: 20px;
}
.registerText{
    font-weight: bold;
}
.registerText:hover{
    text-decoration: underline;
}


 @media only screen and (max-width: 600px) {
    .sidebar{
        width: 50px;
    }
    .MuiTypography-root:where(.css-cfq8qh-MuiListItemText-root .MuiListItemText-primary) {
        display: none !important;
    }
    .btn{
        width: 80px;
    }
    .logoutText{
        text-align: center;
        font-size: 22px;
    }
    .fc .fc-toolbar{
        display: block !important;
    }
    .fc-direction-ltr{
        height: 80vh !important;
    }
    .outlet{
        padding: 10px;
    }
    .css-1gak8h1-MuiToolbar-root-MuiTablePagination-toolbar{
        padding: 0px !important;
    }
    .css-oegngy-MuiInputBase-root-MuiTablePagination-select{
        margin: 0px !important;
    }
    .css-1gak8h1-MuiToolbar-root-MuiTablePagination-toolbar .MuiTablePagination-actions{
        margin-left: 0px !important;
    }
    .css-h7cjts-MuiButtonBase-root-MuiIconButton-root{
        padding: 0px !important;
    }
    .profileContainer{
        display: flex;
        flex-direction: column;
    }
    .profileImageContainer{
        width: 100%;
    }
    .profileFormContainer{
        width: 100%;
        padding: 10px;
    }
    .login{
        max-width: 350px;
        width: 100%;
    }
    .loginText{
        font-size: 18px;
    }
    .iconText{
        font-size: 14px;
        font-weight: 500;
    }
    .iconBoxContainer{
        grid-template-columns: repeat(3,100px);
    }
  }

  @media only screen and (max-width: 900px) {
    .sidebar{
        width: 50px;
    }
    .MuiTypography-root:where(.css-cfq8qh-MuiListItemText-root .MuiListItemText-primary) {
        display: none !important;
    }
    .logoutContainer{
        width: 100%;
    }
    .logoutForm{
        width: 300px;
        position: absolute;
        top: 10%;
        left: 50%;
    }
    .btn{
        width: 80px;
    }
    .logoutText{
        text-align: center;
        font-size: 22px;
    }
    .fc .fc-toolbar{
        display: block !important;
    }
    .fc-direction-ltr{
        height: 82vh !important;
    }
    .outlet{
        padding: 10px;
    }
    .css-1gak8h1-MuiToolbar-root-MuiTablePagination-toolbar{
        padding: 0px !important;
    }
    .css-oegngy-MuiInputBase-root-MuiTablePagination-select{
        margin: 0px !important;
    }
    .css-1gak8h1-MuiToolbar-root-MuiTablePagination-toolbar .MuiTablePagination-actions{
        margin-left: 0px !important;
    }
    .css-h7cjts-MuiButtonBase-root-MuiIconButton-root{
        padding: 0px !important;
    }
    .outlet{
        max-width: calc(100vw - 50px);
        width: 100%;
    }
    .profileContainer{
        display: flex;
        flex-direction: column;
    }
    .profileImageContainer{
        width: 100%;
    }
    .profileFormContainer{
        width: 100%;
        padding: 10px;
    }
  }